@model DotNetCoreWebAppMVC.Models.ResultIp

@{
    ViewData["Title"] = "Home Page";
}

<p>ApiIp : @Html.DisplayFor(m => m.ApiIp);</p>
<p>ApiMachineName : @Html.DisplayFor(m => m.ApiMachineName);</p>
<p>ApiOS : @Html.DisplayFor(m => m.ApiOS);</p>

<p>AppIp  : @Html.DisplayFor(m => m.AppIp);</p>
<p>AppMachineName : @Html.DisplayFor(m => m.AppMachineName);</p>
<p>AppOS : @Html.DisplayFor(m => m.AppOS);</p>